<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <title>Cats | Fact</title>
</head>
<body>
    <div class="wrapper p-3">
        <h1 class="text-center">
            Woohoo Cats
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Logout</button>
        </h1>
        <hr/>
        <div class="content-wrapper mt-2">
            <div class="content-header">
                <div class="col-12 col-sm-12 row text-center">
                    <h4 class="col-6 border-right"><a href="/list">List</a></h4>
                    <h4 class="col-6 border-left"><a href="/fact">Fact</a></h4>
                </div>
            </div>
            <div class="content p-3">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="text-danger">Error 404: Cat not found !</h5>
                                <small>This type of cat hasn't been born yet, please find a new one.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
</html>