<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
    <title>Cats | Fact</title>
</head>
<body>
    <div class="wrapper p-3">
        <h1 class="text-center">
            <button class="btn btn-primary float-left mt-2" onclick="location.href='/newFact'">New Fact</button>
            Woohoo Cats
            <button class="btn btn-warning float-right mt-2" onclick="location.href='/logout'">Logout</button>
        </h1>
        <hr/>
        <div class="content-wrapper mt-2">
            <div class="content-header">
                <div class="col-12 col-sm-12 row text-center">
                    <h4 class="col-6 border-right"><a href="/list">List</a></h4>
                    <h4 class="col-6 border-left"><a href="/fact">Fact</a></h4>
                </div>
            </div>
            <div class="content p-3">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered" name="tableList" id="table_fact">
                                <thead>
                                    <th>Date</th>
                                    <th>Name</th>
                                    <th>Fact</th>
                                    <% if(status == "admin"){ %>
                                        <th>Action</th>
                                    <% } %>
                                </thead>
                                <tbody>
                                    <% for(var i = 0; i < catFact.length; i++){ %>
                                        <tr>
                                            <td><%= catFact[i].date %></td>
                                            <td><%= catFact[i].name %></td>
                                            <td><%= catFact[i].fact %></td>
                                            <% if(status == "admin"){ %>
                                                <td class='text-center'>
                                                    <button type="button" class="btn btn-danger" id="deleteFactBtn" data-toggle="modal" data-target="#deleteFactModal" data-id="<%= catFact[i].id %>"><i class="fas fa-trash"></i></button>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%# Modal box for delete confirmation %>
    <div class="modal fade" id="deleteFactModal" tabindex="-1" role="dialog" aria-labelledby="deleteFactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteFactModalLabel">Delete fact confirmation box</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/fact/delete/" id="factDeleteForm" method="post">
                        <input type="hidden" id="fID" name="factID">
                        <p>Are you sure to delete this fact ?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" form="factDeleteForm" class="btn btn-danger mr-auto">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <%# Modal box for delete confirmation (END) %>
</body>
<script>
$(document).ready(function(){
    $('#table_fact').DataTable({
        "language": {
            "emptyTable":"No Data Found"
        },
        "order": [
            [ 0, "desc" ]
        ]
    })
});
$(document).on("click","#deleteFactBtn",function(){
  var id = $(this).data('id');
  // Detail Modal
  $("#deleteFactModal #fID").val(id);
});
</script>
</html>